.price-input {
    padding-left: 20px;
    padding-right: 20px;
}

.save-button {
    padding-bottom: 20px;
    padding-top: 20px;
}

.main-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.product-width {
    width :50% !important;
}

.price-width {
    width: 30% !important;
}

.details-width {
    width: 90%;
}

.consolidated-item {
    padding-bottom: 15px;
}

.bold-text {
    font-weight: bold;
}

.capitalize-text {
    text-transform: capitalize !important;
}