<form [formGroup]="productForm" (ngSubmit)="onSubmit()" novalidate>

  <div fxLayout="row" class="main-container ">
    <div fxFlex="60" fxLayoutAlign="start center">

      <mat-card class="details-width">

        <mat-form-field class="product-width">
          <input matInput autocomplete="off" placeholder="{{'common.name' | translate}}" formControlName="defaultName">
        </mat-form-field>

        <mat-form-field class="price-width price-input">
          <input matInput type="number" autocomplete="off" placeholder="{{'common.price' | translate}}" formControlName="defaultPrice">
        </mat-form-field>

        <div formArrayName="formArray">
          <div [formGroupName]="i" *ngFor="let control of productForm.controls['formArray'].controls; let i = index">
              
            <mat-form-field class="product-width">
                <input formControlName="dynamicName" matInput autocomplete="off" placeholder="{{'common.name' | translate}}">
              </mat-form-field>
          
              <mat-form-field class="price-width price-input">
                <input formControlName="dynamicPrice" type="number" matInput autocomplete="off" placeholder="{{'common.price' | translate}}">
              </mat-form-field>
  
              <button mat-raised-button color="primary" type="button" (click)="deleteInput(i)">{{'common.delete' | translate}}</button>
          </div>
        </div>

        <div class="save-button">
          <button mat-raised-button color="primary" type="button" (click)="addInput()">{{'common.add' | translate}}</button>
        </div>

      </mat-card>
    </div>

    <div fxFlex="40">
        <mat-card>
          <div>
            <div class="consolidated-item">
              <span class="bold-text">
                {{'common.countConcepts' | translate}} :
              </span> 
              <span>
                {{countConcepts}}
              </span>
            </div>
            <div class="consolidated-item">
              <span class="bold-text">
                {{'common.totalConcepts' | translate}} :
              </span>
              <span>
                {{totalConcepts | currency}}
              </span>
            </div>
            <div class="consolidated-item">
              <span class="bold-text">
                {{'common.totalInText' | translate}} :
              </span>
              <span class="capitalize-text">
                {{totalConceptsText}}
              </span>
            </div>
          </div>
        </mat-card>
    </div>
  </div>
</form>