<mat-toolbar>
  <mat-icon class="cursor-pointer" svgIcon="arrow-back" (click)="goBack()"></mat-icon>
  <span class="toolbar-title">{{'billing.newBilling' | translate}}</span>
</mat-toolbar>

<div>
  <mat-horizontal-stepper>

    <mat-step [completed]="false" label="{{'common.billing' | translate}}">
      <p>Put table with billings</p>
      <div>
        <button mat-button matStepperNext>{{'common.next' | translate}}</button>
      </div>
    </mat-step>

    <mat-step [completed]="false" label="{{'common.detailProduct' | translate}}">
      <p>Products Detail.</p>
      <div>
        <button mat-button matStepperPrevious>{{'common.back' | translate}}</button>
        <button mat-button matStepperNext>{{'common.next' | translate}}</button>
      </div>
    </mat-step>

    <mat-step [completed]="false" label="{{'common.documents' | translate}}">
      <p>Documents.</p>
      <div>
        <button mat-button matStepperPrevious>{{'common.back' | translate}}</button>
        <button mat-button matStepperNext>{{'common.next' | translate}}</button>
      </div>
    </mat-step>

    <mat-step [completed]="false" label="{{'common.preview' | translate}}">
      <div>
        <p>{{'common.preview' | translate}}</p>
        <div>
          <billing-preview [company]="company" [items]="items" [description]="description"></billing-preview>
        </div>
      </div>
      <div>
        <button mat-button matStepperPrevious>{{'common.back' | translate}}</button>
        <button mat-button>{{'common.finish' | translate}}</button>
      </div>
    </mat-step>

  </mat-horizontal-stepper>
</div>
