<form [formGroup]="billingForm" class="main-container" novalidate>
  
  <div class="billing-detail-container">
    <div>
      <div fxLayout="row" fxFlex="50" fxLayoutAlign="start center">
        <p>{{'billing.number' | translate}} : {{billingNumber}}</p>
      </div>
      <div fxLayout="row" fxFlex="50" fxLayoutAlign="end center">
          <p>{{'billing.date' | translate}} : {{currentDate | date : dateFormat}}</p>
      </div>
    </div>

    <div fxLayout="row" class="table-container" fxLayoutAlign="center center">

      <table class="table-width">
        <tr>
          <td class="left-row-spacing">
            <mat-form-field class="full-width">
              <mat-select (selectionChange)="getSelectedCompany($event)" placeholder="{{'common.selectCompany' | translate}}" formControlName="selectCompany">
                <mat-option *ngFor="let company of companies" [value]="company.Id">
                  {{company.Name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>

          <td class="right-row-spacing">
            <mat-form-field class="full-width">
              <input matInput autocomplete="off" placeholder="{{'common.company' | translate}}" formControlName="companyName">
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td class="left-row-spacing">
            <mat-form-field class="full-width">
              <input matInput autocomplete="off" placeholder="{{'common.tinOrDocument' | translate}}" formControlName="companyTin" [disabled]="true">
            </mat-form-field>
          </td>

          <td class="right-row-spacing">
            <mat-form-field class="full-width">
              <input matInput autocomplete="off" placeholder="{{'company.contactName' | translate}}" formControlName="contactName" [disabled]="true" >
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td class="left-row-spacing">
            <mat-form-field class="full-width">
              <input matInput autocomplete="off" placeholder="{{'common.name' | translate}}" formControlName="sourceName">
            </mat-form-field>
          </td>

          <td class="right-row-spacing">
            <mat-form-field class="full-width">
              <input matInput autocomplete="off" placeholder="{{'common.tinOrDocument' | translate}}" formControlName="sourceTin">
            </mat-form-field>
          </td>
        </tr>
      </table>
    </div>
  </div>
</form>