.display-inline {
    display: inline;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.billing-detail-container {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px
}

.full-width {
    width: 100%;
}

.table-width {
    width: 100%;
}

.left-row-spacing {
    padding-right: 40px;
}

.right-row-spacing {
    padding-left: 40px;
}

.table-container {
    padding-top: 20px;
    padding-bottom: 20px;
}