<mat-toolbar>
  <mat-icon class="cursor-pointer" svgIcon="arrow-back" (click)="goBack()"></mat-icon>
  <span class="toolbar-title">{{'billing.newBilling' | translate}}</span>
</mat-toolbar>

<div>
  <mat-horizontal-stepper>

    <mat-step [completed]="false" label="{{'common.billing' | translate}}">
      <div>
        <billing-detail></billing-detail>
      </div>
      <div>
        <button mat-button mat-stroked-button color="primary" matStepperNext>{{'common.next' | translate}}</button>
      </div>
    </mat-step>

    <mat-step [completed]="false" label="{{'common.detailProduct' | translate}}">
      <product-detail></product-detail>
      <div>
        <button mat-button class="paginator-button-space" mat-stroked-button color="primary" matStepperPrevious>{{'common.back' | translate}}</button>
        <button mat-button mat-stroked-button color="primary" matStepperNext>{{'common.next' | translate}}</button>
      </div>
    </mat-step>

    <mat-step [completed]="false" label="{{'common.documents' | translate}}">
      <div class="document-container">
        <documents></documents>
      </div>
      <div>
        <button mat-button class="paginator-button-space" mat-stroked-button color="primary" matStepperPrevious>{{'common.back' | translate}}</button>
        <button mat-button mat-stroked-button color="primary" matStepperNext>{{'common.next' | translate}}</button>
      </div>
    </mat-step>

    <mat-step [completed]="false" label="{{'common.preview' | translate}}">
      <div class="preview-container">
        <billing-preview></billing-preview>
      </div>
      <div>
        <button mat-button class="paginator-button-space" mat-stroked-button color="primary" matStepperPrevious>{{'common.back' | translate}}</button>
        <button mat-button mat-stroked-button color="primary">{{'common.finish' | translate}}</button>
      </div>
    </mat-step>

  </mat-horizontal-stepper>
</div>
