.cursor-pointer {
    cursor: pointer;
}

.toolbar-title {
    padding-left: 10px;
}

.document-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.paginator-button-space {
    margin-right: 10px !important;
}