.create-billing-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.space-button-text {
    padding-right: 5px;
}

.uppercase-text {
    text-transform: uppercase;
}

.mat-tab-label .mat-tab-label-content {
    text-transform: uppercase;
}

.company-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.document-container {
    padding-top: 20px;
    padding-bottom: 20px;
}