<mat-tab-group [selectedIndex]="commonService.getSelectedTab()" (selectedIndexChange)="onTabChange($event)">

  <!--billings-->
  <mat-tab label="{{'common.billings' | translate}}">
    <ng-template matTabContent>
      <div class="create-billing-container">
        <billings></billings>
      </div>
    </ng-template>
  </mat-tab>

  <!--companies-->
  <mat-tab label="{{'common.companies' | translate}}">
    <ng-template matTabContent>
      <div class="company-container">
        <companies></companies>
      </div>
    </ng-template>
  </mat-tab>

  <!--documents-->
  <mat-tab label="{{'common.documents' | translate}}">
    <ng-template matTabContent>
      <div class="document-container">
        <documents></documents>
      </div>
    </ng-template>
  </mat-tab>

</mat-tab-group>
