.space-button-text {
    padding-right: 5px;
}

.uppercase-text {
    text-transform: uppercase;
}

.mat-tab-label .mat-tab-label-content {
    text-transform: uppercase;
}

.cursor-pointer {
    cursor: pointer;
}

.toolbar-title {
    padding-left: 10px;
}

.full-width {
    width: 100%;
}

.main-container {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin : auto;
}

.form-input-container {
    padding-top: 20px;
}

.margin-auto {
    margin: auto;
}

.center-text {
    text-align: center;
}

.space-button {
    margin-left: 25px;
}